<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <%= link_to 'Rails Blog', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', pages_about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", posts_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <%= rebder 'search/form' %>
        <%= render 'user/session' %>
      </ul>
    </div>
  </div>
</nav>
